{% extends 'base.html' %}
{% block title %}Who is this?{% endblock %}
{% block page_title %}Who is this?{% endblock %}
{% block content %}
<form action="{{ url_for('base_details') }}" method="POST">
    <div class="form-group text-center">
        <label for="role">Select your role:</label>
    </div>
    <div class="form-group mt-2">
        <select class="form-control form-control-lg" id="role" name="role" required>
            <option value="" disabled selected>Select role</option>
            <option value="Driver">Driver</option>
            <option value="Supervisor">Supervisor</option>
            <option value="Admin">Admin</option>
        </select>
    </div>
    <div class="d-flex justify-content-end mt-3">
        <button type="submit" class="btn btn-primary">Next</button>
    </div>
</form>
{% endblock %}