body {
    background-color: #f8f9fa;
}
h1 {
    margin-bottom: 20px;
}
form {
    margin-top: 20px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
/* Increase checkbox size */
.form-check-input {
    width: 30px;
    height: 30px;
}

/* Adjust label styles */
.form-check-label {
    font-size: 18px; /* Example font size */
    margin-left: 10px; /* Adjust margin as needed */
}

/* styles.css */
.form-row .form-group {
    margin-right: 30px; /* Adjust as needed */
}

/* styles.css */
.form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .col-md-6 {
    flex: 0 0 45%; /* Adjust width as needed */
}

/* Optional: Adjust margins and padding for better spacing */
.mt-3 {
    margin-top: 1.5rem;
}

.ml-2 {
    margin-left: 0.5rem;
}
